.App {
  font-family: sans-serif;
  text-align: center;
  margin: 100px auto;
}
button {
  padding: 8px;
  width: 20%;
}
.category {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.card-container {
  margin-top: 60px;

  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 20rem;
  padding: 24px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
